.breadcrumbs {
    display: flex;
    column-gap: 10px;   
    row-gap: 3px;
    flex-wrap: wrap;
    @media(max-width: 767px){
        font-size: 14px;
    }
    span {
        opacity: .6;
    }
    a {
        opacity: .6;
        transition: opacity .2s linear;
        &:hover {
            opacity: 1;
        }
    }
}