/* Hamburger Menu */
.hamburger { 
  align-self: center;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 7px;
  min-width: 30px;
  margin-right: 20px;
  cursor: pointer;
  position: relative;
  display: flex;
}

.hamburger div {
  align-self: flex-start;
  height: 1px;
  width: 100%;
  background: #000;
  border-radius: 10px;
}
.header--white .hamburger div {
  background: #fff;
}

.hamburger .meat {
  width: 100%;
}

.top-bun.active,
.meat.active,
.bottom-bun.active {
  opacity: 0;
}

