.cart {
  &__head {
    display: grid;
    grid-template-columns: auto 100px 340px;
    column-gap: 100px;
    padding-top: 47px;
    padding-bottom: 43px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    @media(max-width: 1500px){
      padding-top: 25px;
      padding-bottom: 25px;
      column-gap: 50px;
    }
    @media(max-width: 991px){
      grid-template-columns: auto 100px 229px;
      column-gap: 30px;
    }
    @media(max-width: 767px){
      display: none;
    }
    span {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 500;
    }
  }
  &__list {
    padding-bottom: 45px;
  }
  &__item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 100px 340px;
    column-gap: 100px;
    padding-top: 45px;
    padding-bottom: 45px;
    @media(max-width: 1500px){
      padding-top: 25px;
      padding-bottom: 25px;
      column-gap: 50px;
    }
    @media(max-width: 991px){
      grid-template-columns: auto 100px 229px;
      column-gap: 30px;
    }
    @media(max-width: 575px){
      flex-direction: column;
      display: flex;
      align-items: flex-start;
      row-gap: 20px;
    }
    &:not(:last-child){
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    }
    &-left {
      display: flex;
      align-items: center;
      column-gap: 75px;
      @media(max-width: 1199px){
        column-gap: 40px;
      }
      @media(max-width: 991px){
        column-gap: 20px;
      }
      @media(max-width: 767px){
        flex-direction: column;
        align-items: flex-start;
        row-gap: 15px;
      }
    }
    &-right {
      display: flex;
      column-gap: 75px;
      @media(max-width: 991px){
        column-gap: 40px;
        // justify-content: flex-end;
      }
    }
    &-remove {
      display: flex;
      column-gap: 15px;
      align-items: center;
      cursor: pointer;
      span {
        transition: color .2s linear;
      }
      &:hover {
        opacity: .8;
        span {
          color: #C19CC4;
        }
      }
    }
    &-btn {
      padding-bottom: 20px;
      padding-top: 20px;
      img {
        @media(max-width: 575px){
          margin-left: auto;
          margin-right: auto;
          display: block;
        }
      }
      @media(max-width: 575px){
        width: 35px;
        text-align: center;
        padding-top: 14px;
        padding-bottom: 14px;
      }
      &:hover {
        opacity: .7;
      }
    }
    &-minus {
      padding-left: 30px;
      @media(max-width: 575px){
        padding-left: 0;
      }
    }
    &-plus {
      padding-right: 30px;
      @media(max-width: 575px){
        padding-right: 0;
      }
    }
    &-count {
      display: flex;
      column-gap: 22px;
      border: 1px solid #C19CC4;
      width: fit-content;   
      @media(max-width: 575px){    
        text-align: center;       
        align-items: center;
        column-gap: 11px;
      }

      input {
        width: 30px;
        text-align: center;
      }
    }
    &-img {
      width: 125px;
      min-width: 125px;
      height: 125px;
      object-fit: cover;
      transition: opacity .2s linear;
      &:hover {
        opacity: .9;
      }
    }
    &-name {
      font-size: 20px;
      max-width: 345px;
      margin-bottom: 16px;
      transition: color .2s linear;
      @media(max-width: 1500px){
        font-size: 18px;
      }
      @media(max-width: 575px){
        font-size: 16px;
      }
      &:hover {
       color: #C19CC4;
      }
    }
    &-price {
      font-weight: 500;
      font-size: 20px;
    }
    &-size {
      font-size: 20px;
      color: #A9A9A9;
      @media(max-width: 1500px){
        font-size: 18px;
      }
      @media(max-width: 575px){
        font-size: 16px;
      }
    }
  }
  &__result {
    background: #F6F4F0;
    padding-top: 48px;
    padding-right: 43px;
    padding-bottom: 50px;
    padding-left: 58px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 40px; 
   
    @media(max-width: 991px){
      flex-direction: column;
      align-items: flex-start;
      row-gap: 50px;
      width: fit-content;
    }
    @media(max-width: 575px){
      padding: 25px;
    }
    &-right {
      min-width: 362px;
      @media(max-width: 575px){
        min-width: unset;
        width: 100%;
      }
    }
    &-title {
      margin-bottom: 45px;
      font-size: 32px;
      line-height: 32px;
      text-transform: uppercase;      
      display: block;
      @media(max-width: 767px){
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 30px;
      }
    }
    &-text {
      max-width: 435px;
      color: #626260;
      a {
        color: #9B7A9B;
        text-decoration: underline;
        display: inline;
        transition: color .2s linear;
        &:hover {
          color: #000;
        }
      }
    }
    &-item {
      display: grid;
      grid-template-columns: max-content auto max-content;
      column-gap: 13px;
      &:not(:last-child){
        margin-bottom: 17px;
      }
      span {
        &:nth-child(2){
          border-bottom: 1px dashed #C5C5C5;
          position: relative;
          bottom: 5px;
          padding-left: 5px;
          padding-right: 5px;
          display: block;
        }
      }
    }
  }
}