.product__grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 24px;
  @media(max-width: 991px){
    row-gap: 40px;
  }
  @media(max-width: 575px){
    row-gap: 30px;
  }
}

.product__left {
  grid-column: 7 span;
  display: flex;
  column-gap: 20px;
  padding-right: 70px;
  @media(max-width: 1400px){
    padding-right: 40px;
  }
  @media(max-width: 991px){
    grid-column: 12 span;
    max-width: 600px;
  }
  @media(max-width: 620px){
    max-width: 100%;
    padding-right: 0;
  }
  @media(max-width: 575px){
    flex-direction: column;
    row-gap: 8px;
  }
}
.production-thumb-slider {
  height: 100%;
}

.product__right {
  grid-column: 5 span;
  @media(max-width: 991px){
    grid-column: 12 span;
  }

}
.production-thumb-slide {
  height: fit-content;
  cursor: pointer;
  img {
    height: 100%;
    object-fit: cover;
    width: 138px;
    transition: opacity .2s linear;
    @media(max-width: 1199px){
      width: 80px;
    }
    @media(max-width: 575px){
      width: 100%;
      height: 20vw;
    }
    &:hover {
      opacity: .9;
    }
  }
}
.production-thumb-slider {
  height: 660px;
  min-width: 138px;
  @media(max-width: 1199px){
    min-width: 80px;
  }
  @media(max-width: 575px){
    width: 100%;
    height: fit-content;
  }
}
.product {
  padding-top: 52px;
  @media(max-width: 991px){
    padding-top: 30px;
  }
  @media(max-width: 575px){
    padding-top: 20px;
  }
}

.production-slider {
  height: fit-content;
  @media(max-width: 575px){
    width: 100%;
  }
  .nav-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background: transparent;
    border: none;
    width: 25px;
    height: 25px;
    backdrop-filter: none;
    &-prev {
      left: 20px;
    }
    &-next {
      right: 20px;
    }
  }
}
.production-slide {
  img {
    height: 660px;       
    margin-left: auto;
    width: 100%;
    object-fit: cover;
    @media(max-width: 575px){
      height: 120vw;
    }
  }
}

.product__title {
  color: #000;
  font-size: 32px;
  line-height: 45px;
  text-transform: uppercase;
  margin-bottom: 13px;
  @media(max-width: 991px){
    font-size: 20px;
    line-height: 30px;
  }
}

.product__descr {
  color: #000;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 35px;
  display: block;
  @media(max-width: 575px){
    margin-bottom: 30px;
  }
}

.product__price {
  color: #000;
  font-size: 40px;
  line-height: 100%;
  /* 40px */
  text-transform: uppercase;
  margin-bottom: 35px;
  @media(max-width: 575px){
    font-size: 30px;
    margin-bottom: 30px;
  }
}

.product__size-title {
  color: #000;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 15px;
}

.product__size-list {
  display: flex;
  column-gap: 15px;
  flex-wrap: wrap;
  row-gap: 15px;
}

.product__size-item {
  input {
    &:checked {
      &+label {
        border-color: #C19CC4;
      }
    }
  }

  label {
    cursor: pointer;
    width: 55px;
    height: 55px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    text-transform: uppercase;
  }
}

.product__color-list {
  display: flex;
  column-gap: 15px;
  margin-bottom: 35px;
}

.product__color-item {
  input {
    &:checked {
      &+label {
        border-color: #C19CC4;
      }
    }
  }

  label {
    cursor: pointer;
    padding-left: 30px;
    padding-right: 30px;
    height: 55px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    text-transform: uppercase;
  }
}

.product__size {
  margin-bottom: 35px;
}
.product__color-title {
  color: #000;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 15px;
}
.product__btn-wrapper {
  display: flex;
  column-gap: 24px;
  margin-bottom: 35px;
  @media(max-width: 575px){
    column-gap: 15px;
  }
}
.product__btn{
  width: 100%;
}
.product__info {
  background: rgba(193, 156, 196, 0.10);
  padding-top: 17px;
  padding-bottom: 17px;
  padding-right: 15px;
  padding-left: 25px;
  display: flex;
  column-gap: 25px;
  align-items: center;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 35px;
  svg {
      width: 24px;
      min-width: 24px;
      height: 24px;
  }
}
.related { 
  .title-wrapper {
    border-top: 1px solid rgba($color: #000000, $alpha: .15);
    padding-top: 45px;
    margin-bottom: 50px;
    @media(max-width: 767px){
      margin-bottom: 30px;
    }
  }
  .product-card__img img {
    @media(max-width: 1400px){
        height: 48vw;
    }
    @media(max-width: 767px){
        height: 60vw;
    }
}
}
.product-params{
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 40px;
  margin-top: 50px;
  margin-bottom: 45px;
  ul {
    padding-right: 40px;  
    li {
      position: relative;
      padding-left: 20px;
      margin-bottom: 3x;
      &::before {
        content: '';
        position: absolute;
        width: 7px;
        height: 7px;
        background-color: #000;
        border-radius: 50%;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

